html {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #121826; 
  --pageWidth: 100vw;
  --row-hover: #62709b;
  --dark-theme: #121826;
  --med-theme: #212936;
  --med-light-theme: #383f4f;
  --light-theme: #4e6089; 
  --icon-theme: #212936;
  --profile-pic-background-color: #DEE5E7;
  --avatar-menu-color: #5d6e71;
  --display-background-color: #383F4F;
  --info-container-background-color: #5d6881;
  --form-font-color: white;
  --form-background-color: #4d555c;
  --form-input-color: #69737a;
  --input-placeholder-color: rgb(188, 188, 188);
  --grey-font: rgb(183, 190, 195); 
  --green-button-border: 1px solid rgb(3, 168, 105);
  --blue-button-color: #03a9eb; 
  --search-bar-color: #69737a;
  --calendar-tile-active: var(--green-accent); 
  --calendar-tile-hover: #437264;
  --calendar-tile-font: rgb(230, 229, 229);
  --red-accent: #fa4f66;
  --green-accent: #06BF88;
  --yellow-accent: #fdcd66;
  --purple-accent: #c242e2;
  --orange-accent: #fa854f;
  --blue-accent: #5A90FD;
}

/* Define some utility classes to minimise repetitive css */
.size-100 {
  height: 100%;
  width: 100%;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Start of the CSS for the page elements */

.wrapper {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 65px 1fr;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* optional, for smoother scrolling on iOS devices */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../public/login-background.jpg");
  background-size: cover;
}

/* Login Form css */
.login-form-laptop {
  height: 400px;
  width: 350px;
  display: grid;
  grid-template-rows: 60px 1fr;
  background-color: white;
}

.login-form-desktop {
  height: 40%;
  width: 20%;
  display: grid;
  grid-template-rows: 90px 1fr;
  background-color: white;
}

.login-header {
  grid-row: 1;
  height: 100%;
  width: 100%;  
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.login-form-laptop .app-logo {
  height: 60px;
  width: 300px;
  transform: translateY(30px);
  padding-bottom: 10px;
  border-bottom: 2px solid grey;
}

.login-form-desktop .app-logo {
  height: 60px;
  width: 300px;
  padding-bottom: 10px;
  border-bottom: 2px solid grey;
}

.login-body {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.login-body p {
  margin: 20px 20px 0 20px;
  font-size: 10px;
  color: red;
}

.login-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-laptop .login-input-container {
  transform: translateY(10px);
}

.login-input-icon {
  background: linear-gradient(var(--med-theme), var(--light-theme));
  width: 33px;
  height: 33.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  height: 40px;
  width: 200px;
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(var(--med-theme), var(--light-theme));
  color: white;
  border: none;
  border-radius: 5px;
  transform: translateY(-20px);
}

.inputs-container {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translateY(40px);
}

.login-input {
  width: 200px;
  height: 30px;
  border: 1px solid grey;
  border-left: none;
  padding-left: 10px;
}

.login-body label {
  color: var(--dark-theme);
  transform: translate(-60px, -10px);
  cursor: pointer;
}

.app-icon-container {
  background-color: var(--icon-theme);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bar {
  grid-row: 1;
  grid-column: 2 / -1;
  background-color: var(--med-theme);
  color: white;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-aligner {
  width: 100px;
  height: 20px;
}

.avatar-container {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#avatar-image {
  background-color: var(--profile-pic-background-color);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
}

#avatar-placeholder {
  background-color: var(--profile-pic-background-color);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.avatar-container > label {
  font-size: 12px;
  margin-left: 10px;
  cursor: pointer;
}

.avatar-menu {
  position: absolute;
  right: 20px;
  top: 50px;
  height: 175px;
  width: 200px;
  font-size: 12px;
  font-weight: 500;
  background-color: var(--avatar-menu-color);
  border: 1px solid var(--avatar-menu-color);
  z-index: 100;
  clip-path: polygon(0% 5%, 75% 5%, 80% 0%, 85% 5%, 100% 5%, 100% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.avatar-menu label {
  color: white;
}

#permission-label {
  width: 90%;
  margin-left: 0;
  display: flex;
  justify-content: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid white;
  margin-top: 10px;
}

.avatar-option {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(-8px);
  padding-left: 20px;
  cursor: pointer;
}

.avatar-option label {
  cursor: pointer;
  margin-left: 10px;
}

.change-password-form {
  height: 100%;
  width: 100%;
  background-color: var(--form-background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}  

/* Change the formatting of the update password inputs */
#new-password, #confirm-new-password, #current-password {
  width: 300px;
  height: 25px;
}

#new-password, #current-password {
  margin-bottom: 25px;
}

.passwords-input-container {
  transform: translateY(-32px)
}

.password-strength-container {
  width: 335px;
  font-size: 14px;
  margin-top: 20px;
  color: var(--form-font-color);
}

.strength-indicator {
  height: 10px;
  margin-top: 10px;
}

#password-match {
  width: 200px;
  display: flex;
  justify-content: center;
  margin: auto auto;
  font-size: 14px;
  transform: translateY(25px);
}

.sidenav {
  grid-row: 2 / -1;
  grid-column: 1;
  background: var(--med-theme);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  margin-bottom: -20px;
}

.menu-option, .menu-selected {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 12px;
  width: 100%;
  color:rgb(156, 155, 155);
}

.menu-selected {
  cursor: pointer;
  background-color: var(--med-light-theme);
  color: white;
}

.menu-icon {
  margin-bottom: 6px;
}

.menu-option:hover {
  scale: 1.1;
  cursor: pointer;
  background-color: var(--med-light-theme);
  color:white;
}

.main-area {
  grid-row: 2;
  grid-column: 2;
  background-color: var(--dark-theme);
  display: grid;
  grid-template-columns: 50% 50%;
  overflow-y: hidden;
  min-width: 1000px;
}

.computer-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-theme);
  color: white;
}

.error-description {
  width: 550px;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-heading {
  font-weight: bold;
  font-size: 40px;
  color: var(--form-font-color);
}

.error-subheading {
  font-size: 32px;
}

.message1-503, .message2-503 {
  font-size: 22px;
  color: var(--form-font-color);
}

#gear1-laptop {
  position: absolute;
  top: 250px;
  left: 875px;
  animation: gearSpinnerBackward 3000ms linear infinite;
}

#gear1-desktop {
  position: absolute;
  top: calc(250px + var(--gear-desktop-offsetY));
  left: calc(875px + var(--gear-desktop-offsetX));
  animation: gearSpinnerBackward 3000ms linear infinite;
}

#gear2-laptop {
  position: absolute;
  top: 250px;
  left: 930px;
  animation: gearSpinnerForward 4500ms linear infinite;
}

#gear2-desktop {
  position: absolute;
  top: calc(250px + var(--gear-desktop-offsetY));
  left: calc(930px + var(--gear-desktop-offsetX));
  animation: gearSpinnerForward 4500ms linear infinite;
}

#gear3-laptop {
  position: absolute;
  top: 252px;
  left: 1006px;
  animation: gearSpinnerBackward 2800ms linear infinite;
}

#gear3-desktop {
  position: absolute;
  top: calc(252px + var(--gear-desktop-offsetY));
  left: calc(1006px + var(--gear-desktop-offsetX));
  animation: gearSpinnerBackward 2800ms linear infinite;
}

.loading-page-container {
  height: 100%;
  width: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 12px solid rgb(215, 215, 215); /* Light grey */
  border-top: 12px solid #F7A278; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.0s linear infinite;
}

.loading-page-container h2 {
  color: rgb(215, 215, 215);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Styling for the dialog component */
#dialog-background {
  height: calc(100% + 120px);
  width: 100%; 
  position: absolute;
  left: 0px;
  top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  z-index: 75;  
}

#dialog-box {
  width: 400px;
  height: 220px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65px 1fr;
  padding: 0px;
  border: 1px solid black;
  color: var(--form-font-color);
  background-color: var(--form-background-color);
}

#dialog-box-error-request {
  width: 400px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65px 1fr;
  padding: 0px;
  border: 1px solid black;
  background-color: var(---form-background-color);
}

#uploading-dialog {
  width: 320px;
  height: 140px;
  display: flex;
  background-color: var(--form-background-color);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  border: 1px solid black;
  overflow: hidden;
}

#uploading-dialog > p {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

#closeBtn {
  background-color: var(--form-input-color);
  color: var(--form-font-color);
  border: 1px solid black;
  cursor: pointer;
}

.upload-body {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-20px)
}

#uploading-dialog {
  color: var(--form-font-color);
}

.upload-body > p {
  font-size: 12px;
  color:var(--form-font-color);
  margin-left: 15px;
}

.spinner {
  --spinner-size: 40px;
	width: var(--spinner-size);
  height: var(--spinner-size);
	border-radius: 50%;
	border: 5px solid #eaf5fe;
	border-right-color: #5597d4;
	animation: uploadSpinner 1000ms linear infinite;
  margin-right: 15px;
}

.confirmation-btn-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cancel-btn {
  color: white;
  background-color: rgb(247, 65, 65);
  border: 1px solid rgb(247, 65, 65);
  border-radius: 5px;
}

.proceed-btn {
  color: white;
  background-color: rgb(8, 171, 103);
  border: 1px solid rgb(8, 171, 103);
  border-radius: 5px;
}

.cancel-btn:hover, .proceed-btn:hover {
  cursor: pointer;
}

/* The animation code */
@keyframes uploadSpinner {
  to {
		transform: rotate(360deg);
	}
}

/* The animation code */
@keyframes gearSpinnerForward {
  to {
		transform: rotate(360deg);
	}
}

@keyframes gearSpinnerBackward {
  from{
    transform: rotate(360deg);
  }
  to {
		transform: rotate(0deg);
	}
}

.dialog-title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid: 1 / 1;
  border-bottom: 1px solid black;
}

.dialog-body {
  grid: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.dialog-body-info {
  grid: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog-body-error-request {
  grid: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 175px;
  margin-top: 10px;
}

.info-icon {
  height: 35px;
  width: 35px;
  margin-left: 20px;
  margin-right: 30px;
}

.dialog-body p {
  font-size: 13px;
  transform: translateY(10px);
  margin: 0 20px 0 20px;
}

.dialog-body-info p, .dialog-body-error-request p {
  font-size: 13px;
  margin: 0 20px 0 20px;
}

.dialog-body button {
  height: 35px;
  width: 60px;
}

.dialog-body-error-request button {
  margin: 0 auto 20px auto;
  transform: translateY(10px);
}

.search-filter-container, .display-area-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.search-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.search-box-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.search-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 19px;
  border: 2px solid var(--search-bar-color);
  border-radius: 5px;
  width: 90%;
  margin-right: 20px;
}

.search-input {
  height: 35px;
  width: 100%;
  font-size: 20px;
  background-image: url(../../public/images/search.svg);
  background-repeat: no-repeat;
  background-position: 10px 3px;
  color: #69737a;
  background-color: transparent;
  border: none;
  padding-left: 50px;
}

.add-new-btn {
  background-color: var(--blue-accent);
  border: 1px solid var(--med-light-theme);
  color: #212936;
  border-radius: 50%;
  font-size: 30px;
  width: 40px;
  height: 40px;
  padding: 0;
}

.contact-add-new-btn {
  margin-right: 15px;
}

.add-new-btn-laptop:hover, .add-new-btn-desktop:hover {
  cursor: pointer; 
}

.search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--search-bar-color);
  opacity: 1; /* Firefox */
}

.search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--search-bar-color);
}

.search-input::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--search-bar-color);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--input-placeholder-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--input-placeholder-color);
  opacity: 1;
}

/*.text-input::-ms-input-placeholder, .change-password-input::-ms-input-placeholder, .select-input::-ms-input-placeholder, .file-input::-ms-input-placeholder { /* Microsoft Edge */ 
::-ms-input-placeholder {
  color: var(--input-placeholder-color);
  opacity: 1;
}

.search-table-container {
  padding: 0 5px 0 5px;
  margin: 20px 0px 20px 20px;
  background-color: var(--med-theme);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-table {
  border-spacing: "0px";
  overflow: hidden;
  width: 100%;
}

.header-row {
  height: 4.5vh;
  font-size: 2.3vh;
  width: 100%;
  background-color: transparent;
  font-weight: bold;
}

.header {
  border-right: 1px solid white;
  color: white;
  text-align: center;
}

.header:first-of-type {
  width: 26%
}

.header:nth-of-type(2) {
  width: 36%
}

.header:nth-of-type(3) {
  width: 38%
}

.header:last-of-type {
  border-right: none;
}

.search-table tbody td {
  font-size: clamp(12px, 1.75vh, 15px);
  height: 4.5vh;
  border-top: 1px solid var(--dark-theme);
  padding-left: 15px;
  color: white;
}

.search-table tbody tr:last-child {
  border-bottom: 1px solid rgb(156, 155, 155);
}

.search-table tbody tr:hover td {
  background-color: var(--row-hover);
  color: white;
  cursor: pointer;
}

.table-controls {
  padding: 5px;
  display: flex;
  align-items: center;
}

.table-page-info {
  margin: 0 10px 0 10px;
  font-size: 12px;
  color: white;
}

.display-area {
  margin-right: 2%;
  width: 94%;
  background-color: var(--display-background-color);
  border: 1px solid black;
  margin-top: 2%;
  min-height: 550px;
  min-width: calc(1100px * 0.45);
}

.staff-display {  
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 12% 1fr;
  height: 95%;
}

.equipment-display {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 20px 25% 1fr;
  height: 82%;
}

.summary-card-header { 
  font-size: 16px;
  width: 100%;
  margin: 0 auto 0 auto;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--med-theme);
  color: white;
}

.summary-card-header-center { 
  font-size: 16px;
  width: 100%;
  margin: 0 auto 0 auto;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--med-theme);
  color: white;
}

#summary-header-aligner {
  height: 40px;
  width: 40px;
}

.vendor-link {
  grid-row: 2;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--form-font-color);
  transform: translateY(10px);
  background-color: transparent;
  margin: auto auto;
}

.vendor-link:hover {
  cursor: pointer;
}

.vendor-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border: none;
  width: 11.5vw;
  min-width: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 500;
  font-size: 1.6vh;
}

.vendor-button:hover {
  cursor: pointer !important;
}

.summary-area {
  grid-row: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image-container {
  height: 23vh;
  width: 23vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.equipment-image {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  border: 1px solid black;
  border-radius: 10px;
}

.equipment-summary {
  width: 60%;
}

#title-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(25px);
}

#title-container h2 {
  color: white;
  font-size: 4vh;
}

.type-vendor-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.equipment-summary h4 {
  border-top: 2px solid var(--light-theme);
  padding-top: 10px;
  color: var(--grey-font);
  height: 50px;
  font-size: 2vh;
}

.device-edit-button, .staff-edit-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--med-light-theme);
  background-color: var(--green-accent);
  border: var(--green-button-border);
  border-radius: 50%;
  transform: translateX(-15px);
}

.staff-edit-btn:hover, .device-edit-button:hover {
  cursor: pointer;
}

#edit-image, #email-image {
  height: 25px;
  width: 25px;
}

/* Upload form styles */
.device-input-container {
  margin: 25px 0 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  transform: translateY(30px);
  color: var(--form-font-color);
}

.device-text-input, .add-new.input, .change-password-input {
  text-align: center;
  width: 275px;
  height: 25px;
  margin-top: 8px;
  background-color: var(--form-input-color);
  border: 1px solid var(--form-input-color);
  color: var(--form-font-color);
}

.software-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

#device-software-label, #service-software-label {
  font-size: 12px;
}

#device-software-label {
  margin-right: 40px;
}

.available-label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  width: 210px;
  font-size: 14px;
  color: var(--form-font-color)
}

/* Format the technical links equipment area */
.technical-area {
  grid-row: 4;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.technical-link-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.technical-link-container:first-of-type, .technical-link-container:nth-of-type(2), .technical-link-container:nth-of-type(3) {
  transform: translateY(10%)
}

.technical-link-container:nth-of-type(4), .technical-link-container:nth-of-type(5), .technical-link-container:nth-of-type(6) {
  transform: translateY(-10%)
}

.technical-link {
  font-size: 11px;
  aspect-ratio: 1 / 1;
  height: 65%;
  max-height: 175px;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: clamp(12px, 1.75vh, 20px);
  font-weight: bold;
}

.technical-link:last-child {
  margin-bottom: 20px;
}
  
.service, .my-roster, .red-background {
  background-color: var(--red-accent);
  color: var(--dark-theme);
}

.user-manual, .edit-roster, .green-background {
  background-color: var(--green-accent);
  color: var(--dark-theme);
}

.config, .confirm-roster, .yellow-background {
  background-color: var(--yellow-accent);
  color: var(--dark-theme);
}

.software, .on-call-cheatsheet, .purple-background {
  background-color: var(--purple-accent);
  color: var(--dark-theme);
}

.documents, .staff-roster, .orange-background {
  background-color: var(--orange-accent);
  color: var(--dark-theme);
}

.passwords, .key-contacts, .blue-background {
  color: var(--dark-theme);
  background-color: var(--blue-accent);
}

/* CSS for staff display area */
.staff-info {
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30vh 1fr;
}

.staff-heading {
  grid: 1 / 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.staff-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  height: 100%;
  font-size: 35px;
}

.logo {
  border: 1px solid rgb(137, 44, 44);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(rgb(246, 193, 194), rgb(217, 95, 97));
  aspect-ratio: 1 / 1;
  height: 20vh;
  width: 20vh;
  max-height: 200px;
  max-width: 200px;
}

.phone-image {
  height: 65%;
  width: 65%;
}

#blank-picture {
  background-color: var(--profile-pic-background-color);
  border-radius: 50%;
}

.staff-name {
  width: 65%;
  height: 100%;
  transform: translateY(4vh);
  color: white;
}

.name-update-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.name-text {
  font-size: 4vh;
  transform: translateY(calc(4.63vh - 30px));
}

.position {
  width: 90%;
  font-weight: bold;
  transform: translateY(-30px);
  color: var(--grey-font);
  border-top: 2px solid var(--light-theme);
  padding-top: 1.6vh;
  font-size: 2vh;
}

/* --------------------- */
.info-container {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
  font-size: 1.7vh;
  margin-bottom: 25px;
}

.info-entry-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-entry {
  font-size: 11px;
  aspect-ratio: 1 / 1;
  height: 75%;
  max-height: 175px;
  border-radius: 6px;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 5px;
  font-size: clamp(12px, 1.75vh, 20px);
}

.info-entry:hover {
  cursor: pointer;
}

.info-entry-labels-container {
  flex-direction: column;
  height: 20px;
  width: 100%;
  font-weight: bold;
}

.info-entry-labels-container:hover {
  cursor: pointer;
}


.info-entry-value {
  font-weight: 500;
}

.email-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.17vh;
  width: 4.17vh;
  border-radius: 50%;
  background-color: yellow;
  transform: translate(30px, -7px);
}

.staff-name-desktop .email-link {
  transform: translate(30px, 4px);
}

/* link modal formatting */
.modal-container {
  position: absolute;
  top: calc(0.1944 * 100vh - 90px);
  left: calc(0.5703 * 100vw - 355px);
  min-width: 600px;
  max-height: 550px;
  z-index: 50;
  background-color: white;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65px 1fr;
  overflow-y: auto;
}

.modal-title-bar {
  font-size: 16px;
  width: 100%;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--med-light-theme);
  color: white;
}

.model-title {
  transform: translateX(10px);
}

.cross {
  float: right;
  margin-right: 20px;
}

.cross:hover {
  cursor: pointer;
}

#title-aligner {
  width: 20px;
  height: 20px;
}

.modal-display {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--form-background-color);
  min-height: 400px;
}

.contact-modal-display {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--form-background-color);
}

.contact-update-display {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--form-background-color);
}

.contact-update-department-container {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.contact-update-input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}



.add-new-heading {
  color: var(--form-font-color);
}

.password-display {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--form-background-color);
  min-height: 400px;
  overflow-y: auto;
}

.password-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100px;
  width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.password-container:first-of-type {
  margin-top: 20px;
}

.password-type {
  font-weight: 600; 
}

.password-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.bolder {
  font-weight: 500;
}

/* Format the add new staff/equipment modal */
.add-new, .new-image, .update-device-file, .date-change {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: var(--form-font-color);
  margin-top: 15px;
}

.update-device-file {
  margin-top: 0px;
}

.update-device-file-label {
  font-size: 15px;
  color: var(--form-font-color);
  font-weight: 500;
  margin-bottom: 14px;
}

.add-new-input, .new-image-input, .update-device-file-input, .date-change-input {
  font-size: 12px;
  color: var(--form-font-color);
  height: 20px;
  width: 180px;
  text-align: center;
  padding-right: 20px;
  padding-left: 10px;
  margin-top: 3px;
  transform: translateY(-4px);
  background-color: var(--form-input-color);
  border: none;
}

.update-device-file-input {
  padding: 5px 20px 5px 5px;
}

/* Formatting for the form labels and inputs. */
.add-new-input, .new-image-input {
  border: 1px solid var(--form-input-color);
  padding: 3px;
  width: 210px;
}

.add-new-label, .new-image-label, .date-change-label {
  font-weight: 500;
  transform: translateY(-4px);  
}

.edit-add-new-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tooltip-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.tooltip-button > button {
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}

.tooltip-button > button > img {
  height: 20px;
  width: 20px;
}

.add-new-aligner {
  height: 30px;
  width: 100px;
}

.tooltip {
  font-size: 10px;
  background-color: #f5f1af;
  color: black;
  padding: 3px 6px 3px 6px;
  border-radius: 3px;
}

.add-new-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.staff-contacts-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-new-contact-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-new-staff-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 13px;
  transform: translateY(0px);
}

.add-new-staff-upload-button {
  margin-top: 30px;
  margin-bottom: 20px;
}

.software-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 20px;
}

.software-summary:first-of-type {
  margin-top: 55px;
}

.software-summary:nth-of-type(2) {
  margin-bottom: 60px;
}

.software-device-label {
  margin-bottom: 8px;
  color: var(--form-font-color);
}

.software-device-location {
  font-size: 12px;
  border: 1px solid var(--form-input-color);
  background-color: var(--form-input-color);
  color: var(--form-font-color);
  width: 450px;
  height: 25px;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.clipboard-copy-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clipboard-aligner {
  height: 20px;
  width: 20px;
}

.copy-image {
  position: relative;
  left: calc(225px);
  top: -23px;
  height: 20px;
  width: 20px;
}

.copied-text {
  position: relative;
  left: calc(223px);
  top: -22px;
  font-size: 9px;
  color: var(--form-font-color);
}

.hidden {
  display: none;
}

.documents-heading {
  font-size: 20px;
  color: var(--form-font-color);
  margin-bottom: 30px;
}

.document-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 375px;
  height: 60px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-color: var(--form-input-color);
  text-decoration: none;
  color: var(--form-font-color);
}

.document-icon {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.document-label {
  margin-right: 10px;
}

.document-label:hover {
  cursor: pointer;
}

.update-form-display {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  background-color: var(--form-background-color);
  color: rgb(104, 104, 108);
}

.update-options {
  grid-row: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.update-options > label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.device-data-option {
  font-size: 12px;
  height: 80px;
  width: 80px;
  color: var(--form-input-color);
  border: 1px solid var(--form-input-color);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.device-data-option:hover {
 cursor: pointer;
}

.device-data-option-selected {
  color: white;
  border: 1px solid #ff69b4;
  background-color: #ff69b4;
  font-weight:500;
}

.update-options > label:hover {
  cursor: pointer;
}

.display {
  grid-row: 2;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-buttons {
  margin: auto auto;
  grid-row: 3;
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.update-button {
  width: 150px;
  height: 30px;
  border: 1px solid var(--green-button-border);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green-accent);
  color: var(--med-theme);
  border-radius: 5px;
  font-weight: 600;
}

.add-new-upload-button {
  margin: 20px 0 20px 0;
}

.update-button:hover {
  cursor: pointer;
}

.save-button {
  background-color: var(--blue-accent);
  border: 1.3px solid var(--med-theme);
  color: var(--med-theme);
}

.add-new-config-select-container {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(-15px);
}

.add-new-config-select {
  padding: 5px;
}

.hospitals-select-container, .department-select-container {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0 20px 0;
  color: var(--form-font-color)
}

.department-select-container {
  transform: translateY(-30px);
}

.form-select-input-container {
  font-weight: 500;
}

.hospitals-select, .department-select {
  height: 30px;
  width: 200px;
  text-align: center;
  color: var(--form-font-color);
  background-color: var(--form-input-color);
}

.form-select-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: var(--form-font-color);
}

.form-select-input {
  font-size: 12px;
  display: block;
  height: 25px;
  width: 215px;
  text-align: center;
  padding-right: 20px;
  padding-left: 10px;
  transform: translateY(-10px);
  color: var(--form-font-color);
  background-color: var(--form-input-color);
  border: none;
}

#device-config-container {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 50px 27vh 1fr;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-40px);
}

#device-config-container > h4 {
  grid-column: 1 / 3;
  grid-row: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-top: 60px;
}

.config-info {
  grid-column: 1 / 3;
  grid-row: 2;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding-top: 10px;
}

.config-data, .date-entry, .change-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: var(--form-font-color);
}

.config-data-label, .date-entry-label, .config-file-input-label, .other-doc-label {
  font-weight: 500;
}

.config-data-input, .date-entry-input, .change-password-input {
  font-size: 12px;
  color: var(--form-font-color);
  height: 20px;
  width: 180px;
  text-align: center;
  padding-right: 20px;
  padding-left: 10px;
  margin-top: 3px;
  background-color: var(--form-input-color);
  border: none;
}

.config-file-container {
  grid-column: 1 / 3;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.config-file-container > label {
  font-size: 13px;
  transform: translateY(5px);
}

#config-file {
  width: 300px;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--form-input-color);
  padding: 3px;
  padding-bottom: 7px;
  margin-top: 10px;
}

.date-entry {
  color: var(--form-font-color);
}

.date-entry::-webkit-datetime-edit-day-field:focus,
.date-entry::-webkit-datetime-edit-month-field:focus,
.date-entry::-webkit-datetime-edit-year-field:focus {
    color: var(--form-font-color) !important;
}

.other-input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  transform: translateY(20px);
  color: var(--form-font-color) 
}

.other-input-container > input {
  margin-bottom: 8px;
  transform: translateY(-5px);
}

#add-another-file {
  color: white;
  border-radius: 5px;
  border: 1px solid var(--dark-theme);
  background-color: #08AB7A;
  font-size: 13px; 
  height: 30px;
  width: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-another-file:hover {
  cursor: pointer;
}

#remove-file {
  color: white;
  border-radius: 5px;
  border: 1px solid var(--dark-theme);
  background-color: #da2424; 
  font-size: 13px; 
  height: 30px;
  width: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#remove-file {
  cursor: pointer;
}

.file-add-remove-image {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.other-file-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-5px, 20px);
}

.description-file-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.label-input-container, .label-input-container2 {
  font-size: 12px;
}

.label-input-container {
  transform: translateX(-10px); 
}

.label-input-container2 {
  transform: translateX(10px);
}

.other-doc-text-input {
  border: 1px solid var(--form-input-color);
  font-size: 10px;
  height: 13px;
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--form-font-color);
  background-color: var(--form-input-color);
  padding: 5px;
  padding: 6px -5px 2px 0;
  margin-top: 3px;
  margin-bottom: 5px;
}

.other-doc-file-upload {
  font-size: 10px;
  border: 1px solid var(--form-input-color);
  height: 15px;
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--form-input-color);
  color: var(--form-font-color);
  padding: 4px 5px 5px 5px;
  margin-top: 3px;
  margin-bottom: 5px;
}

/* Formatting for the configuration modal */
.config-display {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  transform: translateY(10%);
}

.indicator-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.contact-indicator-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.indicator {
  height: 10px;
  width: 10px;
  background-color: #adadad;
  border-radius: 50%;
  margin: 0 25px 0 25px;
}

.active-indicator {
  background-color: var(--green-accent);
}

.config-display-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateY(-20px);
  margin-bottom: 15px;
}

.config-arrow {
  height: 50px;
  width: 50px;
  opacity: 0.3;
}

.config-arrow:hover {
  cursor: pointer;
  opacity: 0.8;
}

.config-right-arrow {
  transform: rotate(180deg);
  margin-left: 30px; 
}

.config-left-arrow {
  margin-right: 30px
}

.config-link {
  height: 100%;
  width: 100%;
  border: 1px solid #003153;
  border-radius: 20px;
  background: url('../../public/images/configuration-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 10px;
  font-size: 13px;
}

.config-link a {
  padding: 3px 5px 3px 5px;
  font-size: 14px;
  font-weight: bold; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: rgb(248, 241, 98);
  color: black;
  border-radius: 5px;
}

.options-info, .software-info, .date-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Formatting the Contacts page */
.contacts-page-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts-summary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hospital-contacts-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 80px 1fr;
  margin-top: 30px;
}

.contacts-heading-admin, .contacts-heading {
  height: 100%;
  width: 90%;
  color: white;
  background-color: var(--med-theme);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto auto;
  border: 1px solid black;
}

.contacts-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-main-display {
  background-color: var(--med-light-theme);
  color: white;
  height: 100%;
  width: 90%;
  margin: auto auto;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 100px 1fr 50px;
}

.contact-location-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.contacts-display {
  grid: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-filter-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contacts-select-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid: 1;
}

.contacts-select-label {
  color: var(--form-font-color);
  font-weight: 700;
}

.contacts-select {
  width: 120%;
  height: 30px;
  text-align: center;
  background-color: var(--form-input-color);
  border: 1px solid var(--form-input-color);
  color: var(--form-font-color);
  padding-right: 10px;
  transform: translateY(-10px);
}

.vendor-select {
  width: 150%;
}

.department-title {
  transform: translateY(-20px);
}

.contact-card-container {
  height: 250px;
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
  display: grid; 
  grid-template-rows: 40px 22% 1fr;
  overflow: hidden;
}

.contact-update-header {
  grid: 1 / 1;
  font-size: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-update-header > label {
  margin-left: 10px;
}

#contact-update-edit {
  background-color: #bdc6c7;
  border: 1px solid #bdc6c7;
  padding: 2px;
  border-radius: 50%;
  margin-right: 10px;
}

#contact-update-edit:hover {
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
}

.contact-card-header {
  grid: 1 / 2;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contact-header-centered {
  justify-content: center;
}

#contact-name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

#contact-position, #contact-hospital, #contact-department {
  font-size: 12px;
}

.contact-numbers-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #bdc6c7;
  color: var(--med-light-theme);
  border-top: 1px solid black;
}

.contact-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
  padding-right: 10px;
}

.number-description {
  font-size: 12.5px;
  font-weight: 600;
  margin-bottom: 4px;
}

.number-value {
  font-size: 11px;
  word-break: break-word;
  -ms-word-break: break-word;
}

.website-link:visited {
  color: blue;
}

.page-controls {
  grid: 1 / 3;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Formatting the utilities page */
.utilities-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}

.utility-options {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  font-size: 7px;
  color: var(--form-font-color);
  background-color: var(--icon-theme);
  padding: 0;
}

.utility-options > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.utility-selected {
  background-color: var(--icon-theme);
  box-shadow: 0px 0px 8px 2px #c9e661 inset;
  color: white;
  margin: 0;
}

.utility-options > h2:hover {
  cursor: pointer;
}

.request-page-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.request-form-laptop {
  height: 400px;
  background-color: var(--form-background-color);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px 1fr;
}

.request-form-desktop {
  height: 550px;
  background-color: var(--form-background-color);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 16% 1fr;
  align-items: center;
}

.thermometers-utility {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.thermometer-form-laptop {
  height: 400px;
  width: 350px;
  background-color: var(--form-background-color);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 16% 10% 50% 1fr;
  align-items: center;
}

.thermometer-form-desktop {
  height: 550px;
  width: 500px;
  background-color: var(--form-background-color);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 16% 10% 50% 1fr;
  align-items: center;
}

.request-form-laptop, .request-form-desktop {
  background-color: var(--form-background-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.request-form-laptop > .input-container {
  grid: 2 / 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.two-column-container {
  grid: 2 / 1;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
}

.thermometer-form-laptop h4, .thermometer-form-desktop h4, .request-form-laptop h4, .request-form-desktop h4 {
  grid: 1 / 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background: linear-gradient(var(--dark-theme), var(--med-theme));
  color: white;
  margin-top: 0;
}

.request-form-laptop h4, .request-form-desktop h4 {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background: linear-gradient(var(--dark-theme), var(--med-theme));
  color: white;
  margin-top: 0;
}

.thermometer-form-desktop h4 {
  height: 90%;
}

.employee-requestor-select-container, .service-agent-select-container, .model-select-container, .us-qty-select-container, .ctg-qty-select-container, .shipping-option-select-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.employee-requestor-select-container, .service-agent-select-container {
  transform: translateY(-4px);
} 

.service-agent-select-container {
  transform: translateY(-20px);
} 

.shipping-option-select-container {
  transform: translateY(-50px);
}

.text-area-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.model-select-container {
  margin-top: 0;
  margin-left: 20px;
}

.us-qty-select-container, .ctg-qty-select-container {
  transform: translateY(-20px);
}

.us-qty-select-container {
  margin-right: 40px;
}

.request-form-laptop .employee-requestor-select-container, .request-form-desktop .employee-requestor-select-container {
  margin-top: -10px;
}

.service-agent-select-container {
  margin-top: -10px;
}

.employee-requestor-select-label, .service-agent-select-label, .model-select-label, 
.us-qty-select-label, .ctg-qty-select-label, .shipping-option-select-label, 
.text-area-container label {
  font-size: 15px;
  font-weight: 600;
  color: var(--form-font-color);
}

.us-qty-select-label, .ctg-qty-select-label {
  font-size: 13px;
}

.transducer-qty-container, .bme-model-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bme-model-container {
  transform: translateY(-10px);
}

.employee-requestor-select, .service-agent-select, .model-select, .us-qty-select, .ctg-qty-select, .shipping-option-select {
  color: var(--form-font-color);
  font-size: 12px;
  display: block;
  height: 25px;
  width: 215px;
  text-align: center;
  padding-right: 20px;
  padding-left: 10px;
  transform: translateY(-10px);
}

.text-area-container textarea {
  color: var(--form-font-color);
  font-size: 12px;
  height: 50px;
  width: 235px;
  margin-top: 10px;
  resize: none;
}

.model-select, .us-qty-select, .ctg-qty-select, .shipping-option-select {
  height: 25px;
  width: 115px;
}

.shipping-option-select {
  width: 135px;
}

.us-qty-select, .ctg-qty-select {
  height: 25px;
  width: 55px;
}

.bme-container {
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.bme-container-desktop {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.bme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: var(--form-font-color);
  margin-top: 5px;
}

.bme-label {
  font-size: 14px;
  font-weight: 500;
}

.bme-input {
  text-align: center;
  font-size: 11px;
  width: 75px;
  height: 12px;
  margin-top: 3px;
  color: var(--form-font-color);
  border: 1px solid var(--form-font-color);
  padding: 5px 5px 5px 5px;  
}

.check-container, .disposal-container {
  width: 90%;
  height: 60%;
  margin: auto auto;
}

.disposal-container {
  margin-top: 0;
  transform: translateY(-30px);
}

.thermometer-form-desktop .disposal-container {
  transform: translateY(-20px);
}

.thermometer-form-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.check-message {
  font-size: 12px;
  color: var(--form-font-color);
  margin: 10px;
}

.disposal-message {
  font-size: 12px;
  color: var(--form-font-color);
  margin: 10px;
  margin-bottom: 20px;
}

.thermometer-form-button, .thermometer-disposal-button {
  width: 200px;
  height: 40px;
  background: linear-gradient(#036346, #059066);
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thermometer-disposal-button {
  background: linear-gradient(#c81123, #b10819);
}

.thermometer-form-desktop .thermometer-check-button {
  transform: translateY(30px);
}

.line-spacer-laptop {
  height: 1px;
  width: 90%;
  background-color: var(--form-font-color);
  margin: auto auto;
  transform: translateY(50px);
}

.line-spacer-desktop {
  height: 1px;
  width: 90%;
  background-color: var(--form-font-color);
  margin: auto auto;
  transform: translateY(20px);
}

.thermometer-modal-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--form-background-color);
}

#thermometer-batch-heading {
  color: var(--form-font-color);
  margin-top: 20px;
}

#thermometer-batch-info {
  color: var(--form-font-color);
  font-size: 12px;
  margin: 0 20px 20px 20px;
}

.thermometer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--icon-theme), var(--med-theme));
  border: 1px solid black;
} 

.thermometer-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.check-data-container {
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 1fr 1fr;
  margin: 8px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 12px;
  color: black;
  background-color: var(--form-background-color);
  padding: 5px;
}

#thermometer-bme {
  grid-row: 1;
  grid-column: 1;
}

#thermometer-serial {
  grid-row: 2;
  grid-column: 1;
}

#thermometer-checkbox {
  grid-row: 1 / span 2;
  grid-column: 2;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thermometer-modal-button {
  margin-top: 40px;
  font-size: 16px;
}

.therm-disposal-button-container {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.select-all-button {
  width: 200px;
  height: 40px;
  background: linear-gradient(rgb(236, 235, 235), rgb(224, 224, 224));
  color: var(--dark-theme);
  border: 1px solid var(--dark-theme);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* format calendar component */
.calendar-half-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--med-theme);
  overflow: hidden;
}

.on-call-summary {
  width: 90%;
  height: 18%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;
}

/* Format the date card */
.date-card {
  height: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--med-light-theme);
  color: white;
  display: grid;
  grid-template-rows: 3.4vh 1fr;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 10px;
}

.date-card-small {
  height: 100px;
  width: 110px;
  grid-template-rows: 15px 1fr;
}

.card-head {
  grid-row: 1;
  font-size: 2vh;
  background-color: var(--red-accent);  
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-head-small {
  font-size: 14px;
}

.date-card-data {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.date-card-month {
  font-size: clamp(20px, 3vh, 35px);
}

.date-card-day {
  font-size: clamp(20px,4.2vh,45px);
}

.date-card-month-small {
  font-size: 20px;
}

.date-card-day-small {
  font-size: 30px;
}

.suffix {
  font-size: clamp(12px,2.6vh,30px);
}

.on-call-staff-card {
  height: 100%;
  width: 30vw;
  min-width: 250px;
  max-width: 500px;
  border: 1px solid var(--dark-theme);
  background-color: var(--med-light-theme);
  color: white;
  display: grid;
  grid-template-rows: 3.4vh 1fr;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 10px;
}

.on-call-staff {
  grid-row: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comments-container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  color: white;
}

.on-call-name, .on-call-comment {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.on-call-name {
  font-size: clamp(16px, 2.9vh, 35px);
}

.on-call-comment {
  font-size: clamp(12px, 2vh, 20px);
  text-align: center;
  text-wrap: wrap;
}

/* Format the on-call calendar component */
.react-calendar { 
  width: 100%;
  max-width: 100%;
  background-color: var(--med-light-theme);
  color: white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto auto;
}

/* Format the navigation bar */
.react-calendar__navigation {
  width: 100%;
  height: 3vw;
  min-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--calendar-tile-active);
  padding: 1vw;
  margin-top: 0px;
  margin-bottom: 30px;
}

.react-calendar__navigation button {
  color: white;
  min-width: 44px;
  background: none;
  font-size: clamp(16px, 1.15vw, 22px);
  font-weight: bold;
  margin-top: 6px;
  border: none;
}

.react-calendar__navigation__arrow {
  font-size: 25px;
  font-weight: bold;
}

/* Hide the previous and next year buttons and format the nav bar*/
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation__label {
  width: 30%;
  max-width: 200px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: transparent;
}
.react-calendar__navigation button[disabled] {
  background-color: transparent;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: clamp(14px, 1vw, 20px);
}

abbr[title] {
  text-decoration: none;
}

.react-calendar__tile {
  color: var(--calendar-tile-font);
  font-weight: normal;
  font-size: clamp(14px, 1vw, 20px);
  background: none;
  border: 1px solid transparent;
  margin: 3px auto 3px auto;
  width: 6.5vh;
  height: 6.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-calendar__tile:enabled:hover {
  background: var(--calendar-tile-hover);
  border-radius: 6px;
}
.react-calendar__tile--active {
  background: var(--calendar-tile-active);
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--now:not(.react-calendar__tile--active) {
  border: 2px solid var(--calendar-tile-active);
  color: white;
  border-radius: 6px;
  font-weight: bold;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--calendar-tile-active);
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background: var(--calendar-tile-hover);
}

/* Remove the neighbouring months from showing in the current month */
.react-calendar__month-view__days__day--neighboringMonth {
  color: transparent;
}

/* On call functions formatting */
.on-call-functions-container {
  height: 90%;
  width: 90%;
  margin: auto auto;
  background-color: var(--med-light-theme);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4vw 1fr 1fr 1fr;
  overflow: hidden;
}

.on-call-functions-header {
  grid-column: 1 / -1;
  grid-row: 1;
  font-size: clamp(14px, 1.75vw, 28px);
  background-color: var(--med-theme);
  color: white;
  font-weight: 500;
}

.on-call-function-button {
  height: 9vw;
  width: 9vw;
  max-height: 145px;
  max-width: 145px;
  font-size: clamp(12px, 0.85vw, 18px);
  flex-direction: column;
  justify-content: space-around;
  color: var(--dark-theme);
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.on-call-label-container {
  flex-direction: column;
}

/* Staff Roster Formatting */
.staff-roster-label {
  height: 35px;
  width: 40%;
  background: var(--med-light-theme);
  color: white;
  margin: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  border-radius: 10px;
}

.staff-roster-label:last-of-type {
  margin-bottom: 30px;
}

.staff-roster-label:first-of-type {
  margin-top: 30px;
}

/* My roster formatting */
.date-range-container, .my-roster-start-end-label {
  justify-content: space-around;
  margin-bottom: 15px;
  width: 75%;
}

.date-range-container:first-of-type, .my-roster-start-end-label {
  margin-top: 25px;
  margin-bottom: 20px;
}

.my-roster-start-end-label label{
  font-size: 14px;
  color: white;
  width: 110px;
}

.my-roster-label-aligner {
  height: 10px;
  width: 50px;
}

/* Edit roster form formatting */ 
.edit-roster-form {
  margin-top: 40px;
}

.edit-roster-update-btn {
  margin: 40px;
}

.on-call-form-placeholder {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
  color: var(--dark-theme);
}

