html {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--light-theme);
  --row-hover: #62709b;
  --dark-theme: #1b223f;
  --med-theme: #37426f;
  --light-theme: #4558a2; 
  --config-modal-width: 800px;
  --config-modal-height: 800px;
}

.wrapper {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 75px 1fr;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* optional, for smoother scrolling on iOS devices */
}

.app-icon {
  background-color: #202950;
}

.header-bar {
  grid-row: 1;
  grid-column: 2 / -1;
  background-color: var(--med-theme);
  color: white;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav {
  grid-row: 2 / -1;
  grid-column: 1;
  background: var(--dark-theme);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  margin-bottom: -20px;
}

.menu-option, .menu-selected {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 12px;
  width: 100%;
  color:rgb(156, 155, 155);
}

.menu-selected {
  scale: 1.1;
  cursor: pointer;
  background: radial-gradient(circle at center,#536095, var(--dark-theme) 60%);
  color: white;
}

.menu-icon {
  margin-bottom: 6px;
}

.menu-option:hover {
  scale: 1.1;
  cursor: pointer;
  background: radial-gradient(circle at center,#536095, var(--dark-theme) 60%);
  color:white;
}

.main-area {
  grid-row: 2;
  grid-column: 2;
  background-color: var(--light-theme);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 1150px;
  overflow: hidden;
}

/* Styling for the dialog component */
#dialog-background {
  height: calc(100% + 120px);
  width: 100%; 
  position: absolute;
  left: 0px;
  top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 75;  
}

#dialog-box {
  width: 400px;
  height: 220px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65px 1fr;
  padding: 0px;
  border: 1px solid black;
  background-color: white;
}

#uploading-dialog {
  width: 320px;
  height: 140px;
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  border: 1px solid black;
  overflow: hidden;
}

#uploading-dialog > p {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.upload-body {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-20px)
}

.upload-body > p {
  font-size: 12px;
  color:rgb(132, 132, 139);
  margin-left: 15px;
}

.spinner {
  --spinner-size: 40px;
	width: var(--spinner-size);
  height: var(--spinner-size);
	border-radius: 50%;
	border: 5px solid #eaf5fe;
	border-right-color: #5597d4;
	animation: uploadSpinner 1000ms linear infinite;
  margin-right: 15px;
}

/* The animation code */
@keyframes uploadSpinner {
  to {
		transform: rotate(360deg);
	}
}

.dialog-title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid: 1 / 1;
  border-bottom: 1px solid black;
}

.dialog-body {
  grid: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.dialog-body-info {
  grid: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.info-icon {
  height: 35px;
  width: 35px;
  margin-left: 20px;
  margin-right: 30px;
}

.dialog-body p {
  font-size: 13px;
  transform: translateY(10px);
  margin: 0 20px 0 20px;
}

.dialog-body-info p {
  font-size: 13px;
  margin: 0 20px 0 20px;
}

.dialog-body button {
  height: 35px;
  width: 60px;
}

.search-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  min-width: calc(1300px * 0.45);
}

.search-box-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  margin-left: 19px;
  border: 2px solid #97a5dd;
  border-radius: 5px;
  width: 80%;
}

.search-input {
  height: 35px;
  width: 100%;
  font-size: 20px;
}

.search-icon {
  transform: translateX(-643px);
}

.add-new-btn {
  padding: 5px; 
}

.add-new-btn:hover {
  cursor: pointer; 
}

.search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #97a5dd;
  opacity: 1; /* Firefox */
}

.search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #97a5dd;
}

.search-input::-ms-input-placeholder { /* Microsoft Edge */
  color: #97a5dd;
}

.search-table-container {
  padding: 0 5px 0 5px;
  background-color: #bfbebf;
  margin: 20px 0px 20px 20px;
  background: linear-gradient(90deg, var(--dark-theme), var(--med-theme));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-table {
  border-spacing: "0px";
  overflow: hidden;
}

.search-table > thead td {
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  width: 300px;
}

.header {
  border-right: 1px solid white;
  color: white;
  text-align: center;
}

.header:last-of-type {
  border-right: none;
}

.search-table tbody td {
  height: 35px;
  font-size: 14px;
  border-top: 1px solid var(--dark-theme);
  padding-left: 15px;
}

.search-table tbody tr:last-child {
  border-bottom: 1px solid rgb(156, 155, 155);
}

.search-table tbody tr:hover td {
  background-color: var(--row-hover);
  color: white;
  cursor: pointer;
}

.table-controls {
  padding: 5px;
  display: flex;
  align-items: center;
}

.table-page-info {
  margin: 0 10px 0 10px;
  font-size: 12px;
  color: white;
}

.display-area {
  background-color: white;
  border: 1px solid black;
  width: 45%;
  height: 80%;
  margin-top: 2%;
  margin-right: 5%;
  min-height: 500px;
}

.staff-display-laptop {  
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 80px 1fr;
  height: 88%;
}

.staff-display-desktop { 
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 12% 1fr;
  height: 92%;
}

.equipment-display-laptop {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 180px 1fr;
  height: 88%;
}

.equipment-display-desktop {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12% 180px 1fr;
  height: 92%;
}

.display-area > h2 {
  width: 100%;
  margin: 0 auto 0 auto;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background: linear-gradient(var(--dark-theme), var(--med-theme));
  color: white;
}

.staff-display-laptop > h2, .equipment-display-laptop > h2 {
  font-size: 30px;
}

.staff-display-desktop > h2, .equipment-display-desktop > h2 {
  font-size: 35px;
}

.summary-area-laptop {
  grid-row: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 200px;
}

.summary-area-desktop {
  grid-row: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 200px;
  transform: translateY(30px)
}

.image-container-laptop {
  height: 165px;
  width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container-desktop {
  height: 220px;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.equipment-image {
  max-width: 75%;
  max-height: 75%;
  object-fit: contain;
}

.equipment-summary-laptop {
  width: 60%;
}

.equipment-summary-desktop {
  width: 60%;
}

#title-container-laptop {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(25px);
}

#title-container-desktop {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(50px);
  font-size: 26px;
}

.equipment-summary-laptop h4 {
  border-top: 2px solid#536095;
  padding-top: 10px;
  color:rgb(172, 172, 173);
  height: 75px;
}

.equipment-summary-desktop h4 {
  border-top: 2px solid#536095;
  padding-top: 10px;
  color:rgb(172, 172, 173);
  height: 75px;
  font-size: 20px;
}

.equipment-summary-laptop .device-edit-button {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(12, 178, 112);
  border: 1px solid rgb(12, 178, 112);
  border-radius: 5px;
  margin-left: 20px;
  padding: 1px 0 3px 0 ;
  font-size: 10px;
}

.equipment-summary-desktop .device-edit-button {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(12, 178, 112);
  border: 1px solid rgb(12, 178, 112);
  border-radius: 5px;
  margin-left: 20px;
  padding: 1px 0 3px 0 ;
  font-size: 18px;
  transform: translateY(2px);
}

.device-edit-button:hover {
  cursor: pointer;
}

#device-edit-image {
  height: 16px;
  width: 16px;
  margin: 5px 7px 5px 0;
}

/* Upload form styles */
.device-input-container {
  margin: 25px 0 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  transform: translateY(100px);
}

.device-text-input, .add-new.input {
  text-align: center;
  width: 275px;
  height: 25px;
  margin-top: 8px;
  color: rgb(132, 132, 139);
}

.software-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

#device-software-label, #service-software-label {
  font-size: 12px;
}

#device-software-label {
  margin-right: 40px;
}

.device-file-upload {
  font-size: 12px;
  border: 1px solid black;
  height: 20px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px;
  padding: 6px -5px 2px 0;
  margin-top: 10px;
  color: rgb(132, 132, 139);
}

.available-label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  width: 210px;
  font-size: 14px;
}

/* Format the technical links equipment area */
.technical-area-laptop, .technical-area-desktop {
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5%;
  margin: 10px 3% 10px 3%;
}

.technical-area-desktop {
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5%;
  margin: 100px 3% 10px 8%;
  padding-bottom: 20px;
}

.technical-area-laptop .technical-link {
  font-size: 11px;
  width: 93px;
  height: 93px;
  border-radius: 6px;
  transform: translateX(25px);
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.technical-area-desktop .technical-link {
  width: 140px;
  height: 140px;
  border-radius: 6px;
  transform: translateX(25px);
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.technical-link:last-child {
  margin-bottom: 20px;
}
  
.service {
    background: linear-gradient(#f5b8ce, #fc86b2);
    border: 1px solid #7e1439;
    color: #7e1439;
}

.user-manual {
  background-color: #a5f3f0;
  background: linear-gradient(#a5f3f0, #46f8f2);
  color: #095250;
  border: 1px solid #095250
}

.config {
  background: linear-gradient(#f9e8c4, #f9d27e);
  color: #815a07;
  border:1px solid #815a07;
}

.software {
  background: linear-gradient(#efbdfc, #e174fd);
  color: #320E3B;
  border: 1px solid #320E3B
}

.documents {
  background: linear-gradient(#facab4, #fda47b);
  color: #7f3f21;
  border: 1px solid #7f3f21;
}

.placeholder2 {
  color: #043254;
  background: linear-gradient(#a8d6f9, #6dbefc);
  border: 1px solid #043254;
}

/* CSS for staff dislay area */
.staff-info-laptop {
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 180px 1fr;
}

.staff-info-desktop {
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 180px 1fr;
}

.staff-heading-laptop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.staff-heading-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(70px);
}

.staff-logo-laptop {
  height: 175px;
  width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.staff-logo-desktop {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.logo-laptop {
  height: 120px;
  width: 120px;
  border: 1px solid rgb(137, 44, 44);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(rgb(246, 193, 194), rgb(217, 95, 97));
}

.logo-desktop {
  height: 190px;
  width: 190px;
  border: 1px solid rgb(137, 44, 44);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(rgb(246, 193, 194), rgb(217, 95, 97));
  transform: translateX(50px)
}

.staff-name {
  width: 65%;
  height: 100%;
}

.name-text-laptop {
  width: 80%;
  font-size: 30px;
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}

.name-text-desktop {
  width: 80%;
  font-size: 45px;
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}

.position-laptop {
  font-weight: bold;
  transform: translateY(-20px);
}

.position-desktop {
  font-weight: bold;
  transform: translateY(-20px);
  font-size: 21px;
}

.phone-image-laptop {
  height: 80px;
  width: 80px;
}

.phone-image-desktop {
  height: 110px;
  width: 110px;
}
/* --------------------- */
.info-container-laptop {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.info-container-desktop {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  transform: translateY(120px);
}

.info-container-laptop p {
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 9%;
}

.info-container-desktop p {
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 9%;
  font-size: 20px;
}

.info-container-laptop span {
  font-weight: normal;
  margin-left: 8px;
}

.info-container-desktop span {
  font-weight: normal;
  margin-left: 8px;
  font-size: 20px;
}

/* link modal formatting */
.modal-container-laptop {
  position: absolute;
  min-width: 500px;
  max-height: 600px;
  z-index: 50;
  background-color: white;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65px 1fr;
}

.modal-container-desktop {
  position: absolute;
  width: 700px;
  min-height: 700px;
  max-height: 750px;
  z-index: 50;
  background-color: white;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65px 1fr;
  overflow-y: scroll;
}

.scroll {  
  overflow-y: scroll;
}

.modal-title-bar {
  width: 100%;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background: linear-gradient(var(--dark-theme), var(--med-theme));
  color: white;
}

.cross {
  transform: translateX(-20px);
}

.cross:hover {
  cursor: pointer;
}

#title-aligner {
  width: 20px;
  height: 20px;
}

.modal-display {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(217, 217, 224);
}

/* Format the add new staff/equipment modal */
.add-new, .new-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: rgb(132, 132, 139);
  margin-top: 15px;
}

.add-new-input, .new-image-input {
  font-size: 12px;
  color: rgb(132, 132, 139);
  height: 20px;
  width: 180px;
  text-align: center;
  padding-right: 20px;
  padding-left: 10px;
  margin-top: 3px;
  transform: translateY(-4px);
  background-color: white;
}

.add-new-input, .new-image-input {
  border: 1px solid rgb(132, 132, 139);
  padding: 3px;
  width: 210px;
}

.add-new-label, .new-image-label {
  font-weight: bold;
  transform: translateY(-4px);  
}

.edit-add-new-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tooltip-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.tooltip-button > button {
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}

.tooltip-button > button > img {
  height: 20px;
  width: 20px;
}

.add-new-aligner {
  height: 30px;
  width: 100px;
}

.tooltip {
  font-size: 10px;
  background-color: #f5f1af;
  color: black;
  padding: 3px 6px 3px 6px;
  border-radius: 3px;
}

.add-new-heading {
  color: rgb(132, 132, 139);
}

.add-new-input-container {
  transform: translateY(-30px);
}

.add-new-staff-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 13px;
}

.add-new-staff-container .new-image {
  transform: translateX(calc((430px - 215px)/2));
}

.add-new-upload-button {
  transform: translateY(-20px);
}

.add-new-staff-upload-button {
  margin-top: 30px;
  margin-bottom: 20px;
}

.software-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.software-device-label {
  margin-bottom: 8px;
}

.software-device-location {
  font-size: 12px;
  border: 1px solid black;
  background-color: white;
  width: 450px;
  height: 25px;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.copy-image1-laptop {
  position: absolute;
  left: 455px;
  top: 108px;
  height: 20px;
  width: 20px;
}

.copy-image1-desktop {
  position: absolute;
  left: 555px;
  top: 158px;
  height: 20px;
  width: 20px;
}

.copy-image2-laptop {
  position: absolute;
  left: 455px;
  top: 226px;
  height: 20px;
  width: 20px;
}

.copy-image2-desktop {
  position: absolute;
  left: 555px;
  top: 375px;
  height: 20px;
  width: 20px;
}

.copied-text1-laptop {
  position: absolute;
  left: 450px;
  top: 112px;
  font-size: 9px;
}

.copied-text1-desktop {
  position: absolute;
  left: 543px;
  top: 159px;
  font-size: 11px;
}

.copied-text2-laptop {
  position: absolute;
  left: 450px;
  top: 228px;
  font-size: 9px;
}

.copied-text2-desktop {
  position: absolute;
  left: 543px;
  top: 376px;
  font-size: 11px;
}

.hidden {
  display: none;
}

.documents-heading {
  font-size: 20px;
  color: rgb(132, 132, 139);
  margin-bottom: 30px;
}

.document-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 375px;
  height: 60px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-color: white;
  text-decoration: none;
  color: black;
}

.document-icon {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.document-label {
  margin-right: 10px;
}

.document-label:hover {
  cursor: pointer;
}

.update-form-display {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  background-color: rgb(217, 217, 224);
  color: rgb(104, 104, 108);
}

.update-options {
  grid-row: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.update-options > label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.device-data-option {
  font-size: 12px;
  height: 80px;
  width: 80px;
  color: rgb(132, 132, 139);
  border: 1px solid rgb(132, 132, 139);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.device-data-option:hover {
 cursor: pointer;
}

.device-data-option-selected {
  color: white;
  border: 1px solid #ff69b4;
  background-color: #ff69b4;
  font-weight:500;
}


.update-options > label:hover {
  cursor: pointer;
}

.display-section {
  grid-row: 2;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-buttons {
  margin: auto auto;
  grid-row: 3;
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateY(20px);
  margin-bottom: 50px;
}

.update-button {
  width: 150px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--med-theme), var(--light-theme));
  color: white;
  border-radius: 5px;
}

.update-button:hover {
  cursor: pointer;
}

.save-button {
  background: linear-gradient(white, rgb(238, 238, 239));
  border: 1.3px solid var(--med-theme);
  color: var(--med-theme);
}

.add-new-config-select-container {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(-15px);
}

.add-new-config-select {
  padding: 5px;
}

.hospitals-select-container, .department-select-container {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0 20px 0;
}

.department-select-container {
  transform: translateY(-30px);
}

.hospitals-select-label, .department-select-label, .device-type-select-container, .manufacturer-select-container, .location-select-container, .position-select-container {
  font-weight: bold;
}

.hospitals-select, .department-select {
  height: 30px;
  width: 200px;
  text-align: center;
}

.hospital-select-container, .configuration-type-select-container, .device-type-select-container, .manufacturer-select-container, .location-select-container, .position-select-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hospital-select-label, .configuration-type-select-container, .device-type-select-container, .manufacturer-select-container, .location-select-container, .position-select-container {
  font-size: 13px;
  color: rgb(132, 132, 139);
}

.hospital-select, .configuration-type-select, .device-type-select, .manufacturer-select, .location-select, .position-select {
  color: rgb(132, 132, 139);
}

.hospital-select, .configuration-type-select, .device-type-select, .manufacturer-select, .location-select, .position-select {
  font-size: 12px;
  display: block;
  height: 25px;
  width: 215px;
  text-align: center;
  padding-right: 20px;
  padding-left: 10px;
  transform: translateY(-10px);
}

#device-config-container {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 50px 90% 1fr;
  align-items: flex-start;
  transform: translateY(-40px);
}

#device-config-container > h4 {
  grid-column: 1 / 3;
  grid-row: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.config-info {
  grid-column: 1 / 3;
  grid-row: 2;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding-top: 10px;
}

.config-data, .date-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: rgb(132, 132, 139);
}

.config-data-input, .date-entry-input {
  font-size: 12px;
  color: rgb(132, 132, 139);
  height: 20px;
  width: 180px;
  text-align: center;
  padding-right: 20px;
  padding-left: 10px;
  margin-top: 3px;
}

.config-file-container {
  grid-column: 1 / 3;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.config-file-container > label {
  font-size: 13px;
  font-weight: bold;
  transform: translateY(5px);
}

#config-file {
  width: 300px;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px;
  padding: 2px -5px 4px 0;
  margin-top: 10px;
}

.date-entry {
  color: rgb(132, 132, 139);
}

.other-input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  transform: translateY(20px)
}

.other-input-container > input {
  margin-bottom: 8px;
  transform: translateY(-5px);
}

#add-another-file {
  color: white;
  border-radius: 5px;
  border: 1px solid var(--dark-theme);
  background-color: #08AB7A;
  font-size: 13px; 
  height: 30px;
  width: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-another-file:hover {
  cursor: pointer;
}

#remove-file {
  color: #a21212;
  border-radius: 5px;
  border: 1px solid #a21212;
  background-color: white; 
  font-size: 13px; 
  height: 30px;
  width: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#remove-file {
  cursor: pointer;
}

.file-add-remove-image {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.other-file-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(35px);
}

.description-file-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  transform: translateY(20px);
}

.label-input-container1 {
  transform: translateX(-10px); 
}

.label-input-container2 {
  transform: translateX(10px);
}

.other-doc-text-input {
  border: 1px solid black;
  font-size: 12px;
  height: 20px;
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px;
  padding: 6px -5px 2px 0;
  margin-top: 3px;
  margin-bottom: 5px;
}

.other-doc-file-upload {
  font-size: 12px;
  border: 1px solid black;
  height: 20px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px;
  padding: 6px -5px 2px 0;
  margin-top: 3px;
  margin-bottom: 5px;
}

/* Formatting for the configuration modal */
.config-display-laptop {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.config-display-desktop {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(15%);
  margin-bottom: 50px;
}

.indicator-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.indicator {
  height: 10px;
  width: 10px;
  background-color: #adadad;
  border-radius: 50%;
  margin: 0 25px 0 25px;
}

.active-indicator {
  background-color: #ff69b4;
}

.config-display-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateY(-20px);
  margin-bottom: 15px;
}

.config-arrow {
  height: 50px;
  width: 50px;
}

.config-arrow:hover {
  scale: 1.1;
  cursor: pointer;
}

.config-right-arrow {
  transform: rotate(180deg);
  margin-left: 30px; 
}

.config-left-arrow {
  margin-right: 30px
}

.config-link {
  height: 100%;
  width: 100%;
  border: 1px solid #003153;
  border-radius: 20px;
  background: url('http://localhost:5000/images/configuration-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 10px;
  font-size: 13px;
}


.config-link a {
  padding: 3px 5px 3px 5px;
  font-size: 14px;
  font-weight: bold; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: rgb(248, 241, 98);
  color: black;
  border-radius: 5px;
}

.options-info, .software-info, .date-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1250px) {
  .search-box-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  .search-icon {
  transform: translateX(-427px);
  }

  .search-box {
    width: 75%;
  }
  .add-new-btn {
    font-size: 14px;
    padding: 5px 8px 5px 8px;
  }
  
  .search-table > thead td {
    font-size: 16px;
    height: 24px;
    width: 200px;
  }
  .search-table tbody td {
    height: 24px;
    height: 30px;
    font-size: 12px;
  }
  .display-area {
    margin-right: 20px;
    width: 500px;
  }
  .display-area > h2 { 
    font-size: 20px;
  }
  .config-modal {
    left: 350px;
    top: 20px;
    width: calc(var(--config-modal-width)* 5/8 + 50px);
    min-height: 550px !important;
    grid-template-rows: 60px 1fr;
  }
  .modal-title-bar {
    font-size: 16px;
  }
  .cross {
    float: right;
  }
  .config-display {
    transform: translateY(0%)
  }
  .config-link {
    height: 200px;
    width: 200px;
  }
  #device-config-container {
    grid-template-rows: 50px 55% 1fr;
  }
  .display-section {
    height: 400px;
  }
  .device-input-container {
    transform: translateY(75px)
  }
  .form-buttons {
    transform: translateY(-30px);
    margin-bottom: 20px;
  }
  .other-file-button-container {
    transform: translateY(15px);
  }
  .description-file-container {
    transform: translateY(0px);
  }
  .other-doc-text-input {
    border: 1px solid black;
    font-size: 10px;
    height: 13px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5px;
    padding: 6px -5px 2px 0;
    margin-top: 3px;
    margin-bottom: 5px;
  }
  
  .other-doc-file-upload {
    font-size: 10px;
    border: 1px solid black;
    height: 15px;
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 2px -5px 4px 0 !important;
    margin-top: 3px;
    margin-bottom: 5px;
  }
  .label-input-container1, .label-input-container2 {
    font-size: 12px;
  }
}
